<div class="page home">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="page-title">
          <img class="svg" src="assets/svg/file.svg" alt="" />
          <span>Todo List App</span>
        </h2>
      </div>
      <div class="col-md-6">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Yapılacak yeni madde ekle" #newTodo />
          </mat-form-field>
          <button (click)="addTodo(newTodo)" mat-raised-button color="primary" type="button">Ekle</button>
        </form>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <mat-card class="d-flex">
          <div class="example-container">
            <h2>Bekleyenler</h2>

            <div
              cdkDropList
              #pendingsList="cdkDropList"
              [cdkDropListData]="data.pendings"
              [cdkDropListConnectedTo]="[inProgressList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              <div class="example-box" *ngFor="let item of data.pendings" cdkDrag>
                <img class="svg"  src="assets/svg/clock.svg" alt="">
                <span class="todo-title">{{ item.todo }}</span>
                <div class="button">
                  <button mat-icon-button color="warn" (click)="removeTodo(item.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
              <div *ngIf="data.pendings?.length===0" class="text-center pt-3"><small>Bekleyen bir madde bulunamadı</small> </div>
            </div>
          </div>

          <div class="example-container">
            <h2>Yapım aşamasında olanlar</h2>

            <div
              cdkDropList
              #inProgressList="cdkDropList"
              [cdkDropListData]="data.inProgress"
              [cdkDropListConnectedTo]="[pendingsList, doneList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              <div class="example-box" *ngFor="let item of data.inProgress" cdkDrag>
                <img class="svg" src="assets/svg/hourglass.svg" alt="">
                <span class="todo-title">{{ item.todo }}</span>
                <div class="button">
                  <button mat-icon-button color="warn" (click)="removeTodo(item.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
              <div *ngIf="data.inProgress?.length===0" class="text-center pt-3"><small>Yapım aşamasında bir madde bulunamadı</small> </div>
            </div>
          </div>

          <div class="example-container">
            <h2>Tamamlananlar</h2>

            <div
              cdkDropList
              #doneList="cdkDropList"
              [cdkDropListData]="data.done"
              [cdkDropListConnectedTo]="[inProgressList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              <div class="example-box" *ngFor="let item of data.done" cdkDrag>
                <img class="svg" src="assets/svg/like.svg" alt="">
                <span class="todo-title">{{ item.todo }}</span>
                <div class="button">
                  <button mat-icon-button color="warn" (click)="removeTodo(item.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
              <div *ngIf="data.done?.length===0" class="text-center pt-3"><small>Tamamlanmış bir madde bulunamadı</small> </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center mt-2">
        <small >Copyright 2018 Todo List</small>
      </div>
    </div>
  </div>
</div>
